@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hidden {
  display: none;
}

body {
  background-image: linear-gradient(hsl(273deg, 75%, 66%), hsl(240deg, 73%, 65%));
  font-family: "Kumbh Sans", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  Font-size: 12px;
}
@media (min-width: 768px) {
  body {
    height: 100vh;
  }
}

.card {
  width: min(90%, 900px);
  margin: 12rem 0 6rem 0;
  background-color: white;
  border-radius: 25px;
}
@media (min-width: 768px) {
  .card {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    overflow: hidden;
    margin: 0 !important;
  }
}
.card .card__section-1 {
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;
}
@media (min-width: 768px) {
  .card .card__section-1 {
    flex-basis: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.card .card__section-1 .card-img-mob {
  width: 70%;
  position: absolute;
  bottom: -4.5rem;
}
@media (max-width: 285px) {
  .card .card__section-1 .card-img-mob {
    bottom: -3.5rem;
  }
}
@media (min-width: 500px) and (max-width: 767px) {
  .card .card__section-1 .card-img-mob {
    bottom: -6.5rem;
  }
}
@media (min-width: 768px) {
  .card .card__section-1 .card-img-mob {
    display: none;
  }
}
.card .card__section-1 .card-img-mob-bg {
  position: absolute;
  width: 70%;
}
@media (min-width: 768px) {
  .card .card__section-1 .card-img-mob-bg {
    display: none;
  }
}
.card .card__section-1 .card-img-desk-bg {
  display: none;
}
@media (min-width: 768px) {
  .card .card__section-1 .card-img-desk-bg {
    display: block !important;
    width: 700px;
    position: absolute;
    top: -190px;
    right: 170px;
    z-index: 1;
  }
}
.card .card-img-desk {
  display: none;
}
@media (min-width: 768px) {
  .card .card-img-desk {
    display: block !important;
    width: 75%;
    position: absolute;
    top: 50px;
    right: 160px;
    z-index: 2;
  }
}
.card .card__section-2 {
  padding-left: clamp(1.5rem, 4.7vw, 2rem) !important;
  padding-right: clamp(1.5rem, 4.7vw, 5rem);
  padding-bottom: 2rem;
  margin-top: 10rem;
}
@media (min-width: 768px) {
  .card .card__section-2 {
    margin-top: 0 !important;
    flex-basis: 50%;
    padding-top: 3rem;
    padding-bottom: 4rem;
    padding-left: 0 !important;
  }
}
.card .card__section-2 hr {
  margin: 0.5rem 0;
  border-style: solid;
  border-width: 0 0 1px 0;
  border-color: hsl(240deg, 5%, 91%);
}
.card .card__section-2 .heading {
  text-align: center;
  margin-bottom: 3rem;
}
@media (min-width: 768px) {
  .card .card__section-2 .heading {
    text-align: start !important;
  }
}
.card .card__section-2 .card__Question-block {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  cursor: pointer;
}
.card .card__section-2 .card__Question-block:hover {
  color: hsl(14deg, 88%, 65%);
}
.card .card__section-2 .accordian {
  color: hsl(238deg, 29%, 16%);
}
.card .card__section-2 .accordian .arrow-icon {
  width: 0.7rem;
  height: 0.5rem;
}
@media (min-width: 768px) {
  .card .card__section-2 .accordian .arrow-icon {
    margin-left: 3rem;
  }
}
.card .card__section-2 .accordian .Question {
  font-weight: 400;
  font-size: 0.86rem;
  margin-bottom: 0.5rem;
}
.card .card__section-2 .accordian .Answer {
  margin-right: clamp(2rem, 5vw, 4rem);
  color: hsl(240deg, 6%, 50%);
  display: none;
}/*# sourceMappingURL=main.css.map */