@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// Text
$Very-dark-desaturated-blue : hsl(238, 29%, 16%);
$Soft-red: hsl(14, 88%, 65%);

// gradient
// $Soft-violet: hsl(273, 75%, 66%);
// $Soft-blue: hsl(240, 73%, 65%);
$gradient:linear-gradient( hsl(273, 75%, 66%) , hsl(240, 73%, 65%));

// text
$Very-dark-grayish-blue: hsl(237, 12%, 33%);
$Dark-grayish-blue: hsl(240, 6%, 50%);

// dividers
$Light-grayish-blue: hsl(240, 5%, 91%);



.hidden{
    display: none;
}

body{
    background-image: $gradient;
    font-family: 'Kumbh Sans', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    // height: 100vh;
}

.card{
    width:min(90%,900px);
    margin-top: 12rem;
    background-color: white;
    border-radius: 25px;


    @media (min-width:768px) {
        display: flex;
        flex-direction: row;
    }

    .card__section-1{
        display: flex;
        // height:40vh;
        justify-content: center;
        position: relative;
        .card-img-mob{
            width: 70%;
            position: absolute;
            // top:-106px;            
            bottom: -5rem;

        }
        
    }
    
    .card__section-2{
        // padding-left:clamp(1.5rem,2.234375rem + 4.7vw,5rem);
          padding-left: clamp(1.5rem,  4.7vw, 5rem);

        // padding-right:clamp(1.5rem,2.234375rem + 4.7vw,5rem);
          padding-right: clamp(1.5rem,4.7vw, 5rem);
          padding-bottom: 2rem;
          margin-top: 10rem;
        //   text-align: center;
    }
}